@charset "UTF-8";
footer {
  background-color: #d4c1b1;
  padding: 0.5rem;
  text-align: center;
  margin-top: auto; }

.newsletter__text {
  color: white;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.5rem; }

.newsletter__input {
  width: 200px;
  margin: 0.2rem;
  padding: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem; }

.newsletter__btn {
  padding: 0.2rem;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

.redes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem; }
  .redes__icon li {
    display: inline-block;
    list-style-type: none; }

.copy {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center; }
  .copy p {
    font-size: 1rem;
    color: white; }

.fechas {
  background-image: url(../recursos/sakura_el_filo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px; }

.calendario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  max-width: 80rem;
  padding: 2rem;
  align-self: center;
  margin-top: 2rem; }
  .calendario__box {
    background-color: #d4c1b1;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center; }
  .calendario__junio, .calendario__julio, .calendario__agosto {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0; }
  .calendario__firstDayJunio {
    grid-column-start: 3; }
  .calendario__firstDayJulio {
    grid-column-start: 5; }
  .calendario__firstDayAgosto {
    grid-column-start: 1; }
  .calendario__dayName {
    background-color: white;
    font-weight: bold; }
  .calendario__diaOcupado, .calendario__firstDayJulio {
    background-color: black;
    color: white; }

.referencias {
  display: flex;
  justify-content: center; }
  .referencias__disp {
    background-color: #d4c1b1;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
  .referencias__ocup {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
  .referencias__ocup article {
    color: white; }

.portada {
  font-family: "Anton", sans-serif;
  background: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; }
  .portada__boxbtn {
    display: flex;
    justify-content: center; }
  .portada__btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: "Anton", sans-serif;
    font-size: 3rem;
    background-color: #d4c1b1;
    color: white;
    padding: 1rem;
    margin: 2rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
  .portada h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 9rem;
    flex-wrap: wrap;
    margin-top: 5rem;
    color: transparent;
    background-image: url(../recursos/sakura__atadecer.jpeg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .portada__btn:hover {
    background-color: black;
    transition: background-color 1.2s;
    transform: scale(1.1);
    transition: transform 1.2s;
    color: white; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3rem; }

main {
  display: flex;
  flex-direction: column; }

/*navegación con bootstrap*/
.bg-brown {
  background-color: #d4c1b1; }

.navbar-brand {
  padding: 0; }

.link-nav {
  display: flex;
  justify-content: center;
  padding: .8rem;
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase; }

.link-nav:hover {
  color: black;
  transition: color 1s; }

/*navegación con bootstrap*/
.masInfo {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  padding: 1rem; }
  .masInfo__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: .5rem;
    background-color: #d4c1b1;
    max-width: 40rem;
    color: white;
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
  .masInfo h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem; }
  .masInfo p {
    text-align: start;
    margin: 0;
    padding: 1rem; }
  .masInfo__btn {
    display: flex;
    justify-content: center; }
  .masInfo a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }
  .masInfo__box a:hover {
    transform: scale(1.2);
    transition: transform 1.1s; }

.container {
  margin-bottom: 3rem; }

.review {
  font-size: 2rem; }

.info h2 {
  display: flex;
  justify-content: center;
  margin: 2rem; }

.info__foto {
  width: 20rem;
  height: 25rem; }

.info__container {
  display: flex;
  justify-content: center; }

.info__container p {
  display: flex;
  text-align: center;
  width: 80rem;
  padding: 2rem; }

.info__fotoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.pictureC {
  display: flex;
  gap: 2rem;
  justify-content: center; }

.key1-picture {
  background-image: url("../recursos/fotosS/balcon.jpeg");
  background-size: cover;
  width: 18rem;
  height: 30rem;
  background-color: black; }

.key2-picture {
  background-image: url("../recursos/fotosS/pileta.jpeg");
  background-size: cover;
  width: 18rem;
  height: 30rem;
  background-color: black; }

.key3-picture {
  background-image: url("../recursos/fotosS/terraza.jpeg");
  background-size: cover;
  width: 18rem;
  height: 30rem;
  background-color: black; }

.key4-picture {
  background-image: url("../recursos/fotosS/living.jpeg");
  background-size: cover;
  width: 18rem;
  height: 30rem;
  background-color: black; }

.key5-picture {
  background-image: url("../recursos/fotosS/dormitorio.jpeg");
  background-size: cover;
  width: 18rem;
  height: 30rem;
  background-color: black; }

.key6-picture {
  background-image: url("../recursos/fotosS/fuego.jpeg");
  background-size: cover;
  width: 18rem;
  height: 30rem;
  background-color: black; }

.info__ifr {
  display: flex;
  justify-content: center; }

iframe {
  width: 50rem;
  height: 25rem;
  margin-bottom: 3rem; }

.pfrecuentes__h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  width: auto;
  max-width: fit-content;
  margin: 2rem;
  border-radius: 1rem;
  padding: 0.3rem;
  border: solid 1px #ccc;
  background-color: #d3c2b1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

.pfrecuentes__article {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin: 2rem; }

.backgroundCto {
  background-image: url(../recursos/Paisaje-de-Merlo-san-luis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -12rem; }
  .backgroundCto h1 {
    font-weight: bold;
    margin-top: 3rem; }

.contacto__box {
  display: flex;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  max-width: 35rem;
  border-radius: 1rem;
  padding: 1rem;
  border: solid 1px #ccc;
  background-color: #d3c2b1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

.contacto__input {
  width: 100%;
  padding: .8rem;
  margin: 1rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box; }

.contacto__ta {
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
  resize: none; }

.contacto__btn {
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

@media (min-width: 320px) and (max-width: 720px) {
  body {
    margin: 16px; }
  .portada h1 {
    font-size: 3rem; }
  .portada__btn {
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem; }
  .pictureC {
    display: flex;
    flex-direction: column;
    align-items: center; }
  iframe {
    width: 18rem;
    height: 15rem; }
  .h1Cto {
    color: white; } }
