.h1Fechas {
    color: $color-terciario;
}

.fechas {
    background-image: url(../recursos/chalet_arriba.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-200px ;

}

.calendario {
    width: 90%;
    margin: auto;
    max-width: 80rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    align-self: center;
    margin-top: 2rem;

    &__box {
        background-color: $color-principal;
        padding: 1rem 2rem;
        border-radius: 1rem;
        text-align: center;
    }
    
    &__junio {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 0;
    }

    &__firstDayJunio {
        grid-column-start: 3;
    }

    &__julio {
        @extend .calendario__junio;
    }
    
    &__firstDayJulio {
        grid-column-start: 5;
        @extend .calendario__diaOcupado;
    }

    &__agosto {
        @extend .calendario__junio;
    }

    &__firstDayAgosto {
        grid-column-start: 1;
    }

    &__dayName {
        background-color: white;
        font-weight: bold;
    }

    &__diaOcupado {
        background-color: $color-secundario;
        color: $color-terciario;
    }
}


.referencias {
    display: flex;
    justify-content: center;
    background-color: $color-terciario;
    
    &__disp {
        background-color: $color-principal;
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 1rem 0;
        
        box-shadow: $box_sombra
    
    }
    
    &__ocup {
        background-color: $color-secundario;
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 1rem 0;
        box-shadow: $box_sombra
    
    }
    
    &__ocup article {
        color: $color-terciario;
    }
}