@import 'variables';
@import 'nav';
@import 'footer';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

header {
    grid-area: header;
    
}

.bg-brown {
    background-color: $color-principal;
}

.link-nav {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;

}
    
.link-nav:hover {
    color: black;
    transition: color 1s ;

}

.container {
    margin-bottom: 3rem;
}
main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}


h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3rem;
}

.portada {
    font-family: $font-1;
    background: $color-terciario;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__boxbtn {
        display: flex;
        justify-content: center;
    }

    &__btn {
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-family: $font-1;
        font-size: 3rem;
        background-color: $color-principal;
        color: $color-terciario;
        padding: 1rem;
        margin: 2rem;
        border: none;
        border-radius: 1rem;
        box-shadow: $box_sombra;
    }

    h1 {
        color: transparent;
        text-align: center;
        text-transform: uppercase;
        font-size: 10rem;
        flex-wrap: wrap;
        margin-top: 5rem;
     
        background-image: url(../recursos/sakura__atadecer.jpeg);
        background-size: cover;
        background-position-y: 41rem;
         
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
     }

     &__btn:hover {
        background-color: $color-secundario;
        transition: background-color 1.2s;
        transform: scale(1.1);
        transition: transform 1.2s;
        color: $color-terciario;
     }

}


.masInfo {
    margin-top:5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    padding: 1rem;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: .5rem;
        background-color: $color-principal;
        max-width: 40rem;
        color: $color-terciario;
        border: none;
        border-radius: 1rem;
        box-shadow: $box_sombra;
    }

    h2 {
        display: flex;
        justify-content: center;
        font-size: 3rem;
    }
    
    p {
        text-align: start;
        margin: 0;
        padding: 1rem;
    }

    &__btn {
        display: flex;
        justify-content: center;
        
    }
    
    a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 1rem;
        margin: 1rem 0;
        border: none;
        border-radius: 1em;
        cursor: pointer;
        box-shadow: $box_sombra
    }

    &__box a:hover {
        transform: scale(1.2);
        transition: transform 1.1s;
    }

}

.fechas {
    background-image: url(../recursos/sakura__atadecer.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-200px ;

}

.calendario {
    width: 90%;
    margin: auto;
    max-width: 80rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    align-self: center;
    margin-top: 2rem;

    &__box {
        background-color: $color-principal;
        padding: 1rem 2rem;
        border-radius: 1rem;
        text-align: center;
    }
    
    &__mayo {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 0;
    }

    &__mayo li:hover {
        background-color: $color-secundario;
        transition: background-color, color .1s;
        color:$color-terciario;
        cursor:pointer;
    }

    &__firstDayMayo {
        grid-column-start: 7;
    }

    &__junio {
        @extend .calendario__mayo;
        
    }

    &__junio li:hover {
        background-color: $color-secundario;
        transition: background-color, color .1s;
        color:$color-terciario;
        cursor:pointer;
    }

    &__firstDayJunio {
        grid-column-start: 3;
    }

    &__julio {
        @extend .calendario__mayo;
       
    }

    &__julio li:hover {
        background-color: $color-secundario;
        transition: background-color, color .1s;
        color:$color-terciario;
        cursor:pointer;
    }

    &__firstDayJulio {
        grid-column-start: 5;
    }

    &__dayName {
        background-color: white;
        font-weight: bold;
    }

}
.info{
 
    h2 {
        display: flex;
        justify-content: center;
        margin: 2rem;
    }

    &__foto {
        width: 20rem;
        height: 25rem;

    }

    &__container {
        display: flex;
        justify-content: center;
   
    }

    &__container p {
        display: flex;
        text-align: center;
        width: 80rem;
    }

    &__fotoContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}

.pictureC {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

$fotos: (key1: balcon, key2: pileta, key3: terraza);

@each $key, $sakura in $fotos{
    .#{$key}-picture {
        background-image: url('../recursos/fotosS/#{$sakura}.jpeg');
        background-size: cover;
        width: 20rem;
        height: 30rem;
        background-color: $color-secundario;
    
    }
}



.info__ifr {
        display: flex;
        justify-content: center;
}    
    
 iframe {
        width: 50rem;
        height: 25rem;
        margin-bottom: 3rem;
} 


.pfrecuentes {

    &__h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    width: auto;
    max-width: fit-content;
    margin: 2rem;
    border-radius: 1rem;
    padding: 0.3rem;
    border: solid 1px #ccc;
    background-color: #d3c2b1;
    box-shadow: $box_sombra;
    }

    &__article {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        margin: 2rem;
        
    }

}


.backgroundCto {
    background-image: url(../recursos/chalet_arriba.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-12rem;

    h1 {
        color: $color-terciario;
        font-weight: bold;
        margin-top: 3rem;
    }
    
}

.contacto {
    &__box {
        display: flex;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 5rem;
        max-width: 35rem;
        border-radius: 1rem;
        padding: 1rem;
        border: solid 1px #ccc;
        background-color: #d3c2b1;
        box-shadow: $box_sombra;
        
        
    }
    
    &__input {
        width: 100%;
        padding: .8rem;
        margin: 1rem 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 1rem;
        box-sizing: border-box;
        
    }

    &__ta {
        width: 100%;
        height: 10rem;
        border-radius: 1rem;
        resize: none;
    }
    
    &__btn {
        width: 100%;
        background-color: black;
        color: white;
        padding: 1rem 2rem;
        margin: 1rem 0;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        box-shadow: $box_sombra;
    }
}


@media (min-width:320px) and (max-width:720px) {
    body {
        margin: 16px;
        
    }

    .portada {
    
        h1 {
        font-size: 3rem;
        }
    
        &__btn {
            display: flex;
            justify-content: center;
            text-decoration: none;
            font-family: $font-1;
            font-size: 1rem;
            background-color: $color-principal;
            color: $color-terciario;
            padding: 1rem;
            margin: 1rem;
            border: none;
            border-radius: 1rem;
            box-shadow: $box_sombra;
        }
    
    }
    .pictureC {
        display: flex;
        flex-direction: column;
    }
    
    iframe {
        width: 30rem;
        height: 20rem;
    } 

}

